{{!< default}}

{{!--
    index.hbs
    ---------
    Homepage template displaying the main blog header and post listing.
    Shows site title, description, and cover image (if set).
    Uses the loop partial to render paginated post cards.
--}}

{{#if @site.cover_image}}
{{#contentFor "html_class"}}cover-active{{/contentFor}}
{{#contentFor "head"}}
<link rel="preload"
	as="image"
	href="{{img_url @site.cover_image size="l" quality="50"}}"
	imagesrcset="{{> "srcset" image=@site.cover_image quality="50"}}"
	imagesizes="(max-width: 1100px) 100vw, 1100px">
{{/contentFor}}
{{/if}}

<header class="blog-header {{#if @site.cover_image}} has-cover{{/if}}">
	<div class="inner">
		<div class="box blog-box">
			<h1 class="blog-name">{{@site.title}}</h1>
			{{#if @site.description}}
			<span class="blog-description">{{@site.description}}</span>
			{{/if}}
		</div>
		{{#if @site.cover_image}}
		<div class="blog-cover cover">
			<picture>
				<source
					type="image/avif"
					srcset="{{> "srcset" image=@site.cover_image format="avif" quality="50"}}"
					sizes="(max-width: 1100px) 100vw, 1100px" />
				<source
					type="image/webp"
					srcset="{{> "srcset" image=@site.cover_image format="webp" quality="50"}}"
					sizes="(max-width: 1100px) 100vw, 1100px" />
				<source
					srcset="{{> "srcset" image=@site.cover_image quality="50"}}"
					sizes="(max-width: 1100px) 100vw, 1100px" />
				<img
					srcset="{{> "srcset" image=@site.cover_image quality="50"}}"
					sizes="(max-width: 1100px) 100vw, 1100px"
					src="{{img_url @site.cover_image size="l" quality="50"}}"
					alt="{{@site.title}}"
					loading="eager"
					decoding="async"
					fetchpriority="high" />
			</picture>
		</div>
		{{/if}}
	</div>
</header>

<div id="index" class="container">

	<main class="content" role="main">

		{{> "loop"}}

	</main>

</div>
