{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

{{#if @page.show_title_and_feature_image}}
	{{#if feature_image}}
		{{#contentFor "html_class"}}cover-active{{/contentFor}}
	{{/if}}
{{/if}}

{{#if @page.show_title_and_feature_image}}
	<header class="post-header {{#if feature_image}} has-cover {{/if}}">
		<div class="inner">
			<h1 class="post-title">{{{title}}}</h1>
			{{#if feature_image}}
			<div class="post-cover cover">
				<picture>
					<source
						type="image/avif"
						srcset="{{> "srcset" image=feature_image format="avif" quality="50" include_xl=true}}"
						sizes="(max-width: 960px) 100vw, 960px" />
					<source
						type="image/webp"
						srcset="{{> "srcset" image=feature_image format="webp" quality="50" include_xl=true}}"
						sizes="(max-width: 960px) 100vw, 960px" />
					<source
						srcset="{{> "srcset" image=feature_image quality="50" include_xl=true}}"
						sizes="(max-width: 960px) 100vw, 960px" />
					<img
						srcset="{{> "srcset" image=feature_image quality="50" include_xl=true}}"
						src="{{img_url feature_image size="xl" quality="50"}}"
						alt="{{title}}"
						loading="eager"
						decoding="async"
						fetchpriority="high"
						sizes="(max-width: 960px) 100vw, 960px" />
				</picture>
			</div>
			{{/if}}
		</div>
	</header>
{{/if}}

<main class="content" role="main">
	<article class="{{post_class}}">
		<div class="inner">

			<section class="post-content">
				{{content}}
			</section>

		</div>
	</article>
</main>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script defer src="{{asset "js/page.js"}}" data-highlight="{{asset "js/highlight.pack.js"}}"></script>
{{/contentFor}}
