{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

{{#if feature_image}}
{{#contentFor "html_class"}}cover-active{{/contentFor}}
{{/if}}

<div class="progress-container">
	<span class="progress-bar"></span>
</div>

<header class="post-header {{#if feature_image}} has-cover {{/if}}">
	<div class="inner">
		<span class="post-info">
			<span class="post-type">{{t "Article"}}</span>
			{{#if tags}}
			<span class="post-count">{{primary_tag.name}}</span>
			{{/if}}
		</span>
		<h1 class="post-title">{{{title}}}</h1>
		<div class="post-meta">
			<div class="post-meta-avatars">
				{{#foreach authors}}
					{{!-- Author avatar with SVG fallback --}}
					{{#if profile_image}}
						<figure class="post-meta-avatar">
							<a href="{{url}}" class="author-avatar">
								<img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" loading="lazy" decoding="async" />
							</a>
						</figure>
					{{else}}
						<figure class="post-meta-avatar avatar" aria-label="{{name}}">
							<a href="{{url}}" class="author-avatar">
								<svg viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
									<path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
								</svg>
							</a>
						</figure>
					{{/if}}
				{{/foreach}}
			</div>
			<h4 class="post-meta-author" data-authors='[{{#foreach authors}}{"name":"{{name}}","url":"{{url}}"}{{#unless @last}},{{/unless}}{{/foreach}}]'></h4>
			<script>
				(function() {
					var authorEl = document.querySelector('.post-meta-author[data-authors]');
					if (!authorEl) return;
					var authors = JSON.parse(authorEl.getAttribute('data-authors'));
					var html = authors.map(function(author, i) {
						var link = '<a href="' + author.url + '">' + author.name + '</a>';
						if (i === authors.length - 1) return link;
						if (i === authors.length - 2) return link + ' & ';
						return link + ', ';
					}).join('');
					authorEl.innerHTML = html;
					authorEl.removeAttribute('data-authors');
				})();
			</script>
			<time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMM DD, YYYY"}}</time> &bull; {{reading_time minute=(t "1 min read") minutes=(t "% min read")}}
		</div>
		{{#if feature_image}}
		<div class="post-cover cover">
			<img
			srcset="{{img_url feature_image size="s"}} 320w,
              {{img_url feature_image size="m"}} 640w,
              {{img_url feature_image size="l"}} 960w,
              {{img_url feature_image size="xl"}} 1920w"
      src="{{img_url feature_image size="xl"}}"
			alt="{{title}}"
			loading="eager"
			decoding="async"
			fetchpriority="high"
			sizes="(max-width: 960px) 100vw, 960px" />
		</div>
		{{/if}}
	</div>
</header>

<main class="content" role="main">
	<article class="{{post_class}}">
		<div class="inner">

			<section class="post-content">
				{{content}}
			</section>

			<section class="post-footer">

				{{#match @custom.post_share "Native"}}
					<div class="post-share">
						<span class="post-info-label">{{t "Share"}}</span>
						<button aria-label="{{t "Share"}} {{t "Article"}}" class="post-share-button" id="share-button"><i class="icon icon-share" aria-hidden="true">{{> "icons/icon-share"}}</i></button>
					</div>
				{{/match}}

				{{#match @custom.post_share "Default"}}
					<div class="post-share">
						<span class="post-info-label">{{t "Share"}}</span>
						<a title="Twitter" aria-label="Twitter" class="twitter" href="https://twitter.com/share?text={{title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
							<i class="icon icon-twitter" aria-hidden="true">{{> "icons/icon-twitter"}}</i>
						</a>
						<a title="Facebook" aria-label="Facebook" class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
							<i class="icon icon-facebook" aria-hidden="true">{{> "icons/icon-facebook"}}</i>
						</a>
						<a title="LinkedIn" aria-label="LinkedIn" class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute="true"}}&amp;title={{encode title}}" onclick="window.open(this.href, 'linkedin-share', 'width=930,height=720');return false;">
							<i class="icon icon-linkedin" aria-hidden="true">{{> "icons/icon-linkedin"}}</i>
						</a>
						<a title="Email" aria-label="Email" class="email" href="mailto:?subject={{title}}&amp;body={{url absolute="true"}}">
							<i class="icon icon-mail" aria-hidden="true">{{> "icons/icon-mail"}}</i>
						</a>
					</div>
				{{/match}}

				{{#if tags}}
				<aside class="post-tags">
					<span class="post-info-label">{{t "Topic"}}</span>
					{{tags separator=" "}}
				</aside>
				{{/if}}

			</section>

			{{#if comments}}
			<section class="post-comments">
				<header class="post-comments-header">
					<h3 class="post-comments-title">{{t "Comments"}}</h3>
					<span class="post-comments-count">{{comment_count autowrap="false" empty=(t "0 comments")}}</span>
				</header>
				{{comments title="" count=false}}
			</section>
			{{else if @custom.disqus_shortname}}
			<section class="post-comments">
				<div id="disqus_thread" data-disqus-shortname="{{@custom.disqus_shortname}}"></div>
			</section>
			{{/if}}

      {{#if @site.members_enabled}}
      <section class="post-subscribe">
				<p>{{t "Get the latest posts delivered right to your inbox."}}</p>
        {{#unless @member}}
        	{{subscribe_form placeholder=(t "Your email address") form_class="post-subscribe-form" input_class="post-subscribe-input" button_class="post-subscribe-button"}}
        {{/unless}}
      </section>
      {{/if}}

			{{!-- Links to Previous/Next posts --}}
			<aside class="post-nav">

				{{!-- If there's a next post, display it; otherwise show home link --}}
				{{#next_post}}
					<a class="post-nav-next" href="{{url}}">
						<section class="post-nav-teaser">
							<i class="icon icon-arrow-left" aria-label="{{t "Next post"}}">{{> "icons/icon-arrow-left"}}</i>
							<h2 class="post-nav-title">{{title}}</h2>
							<p class="post-nav-excerpt">{{excerpt words="12"}}</p>
							<p class="post-nav-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time></p>
						</section>
					</a>
				{{else}}
					<a class="post-nav-next post-nav-home" href="{{@site.url}}">
						<section class="post-nav-teaser">
							<i class="icon icon-home" aria-label="{{t "Back to home"}}">{{> "icons/icon-home"}}</i>
							<h2 class="post-nav-title">{{t "Return to Home"}}</h2>
							<p class="post-nav-excerpt">{{@site.description}}</p>
						</section>
					</a>
				{{/next_post}}

				{{!-- If there's a previous post, display it; otherwise show home link --}}
				{{#prev_post}}
					<a class="post-nav-prev" href="{{url}}">
						<section class="post-nav-teaser">
							<i class="icon icon-arrow-right" aria-label="{{t "Previous post"}}">{{> "icons/icon-arrow-right"}}</i>
							<h2 class="post-nav-title">{{title}}</h2>
							<p class="post-nav-excerpt">{{excerpt words="12"}}</p>
							<p class="post-nav-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time></p>
						</section>
					</a>
				{{else}}
					<a class="post-nav-prev post-nav-home" href="{{@site.url}}">
						<section class="post-nav-teaser">
							<i class="icon icon-home" aria-label="{{t "Back to home"}}">{{> "icons/icon-home"}}</i>
							<h2 class="post-nav-title">{{t "Return to Home"}}</h2>
							<p class="post-nav-excerpt">{{@site.description}}</p>
						</section>
					</a>
				{{/prev_post}}
				<div class="clear"></div>
			</aside>

		</div>
	</article>
</main>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script defer src="{{asset "js/post.js"}}" data-highlight="{{asset "js/highlight.pack.js"}}"></script>
<script defer src="{{asset "js/toc.js"}}"></script>
{{/contentFor}}
